{% extends 'base.html' %} 
{% block titulo %}

  
 <p class="titulo">Projetos</p>
  

{% endblock %}
{% block conteudo %}

<div style="margin-top: 70px; margin-left: 19%; margin-right: 10%;">
<p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nam deserunt numquam expedita? Rem eligendi, modi quae, eveniet veritatis quis harum obcaecati, repellendus assumenda ducimus iste corrupti impedit adipisci ea?</p>
<nav > <a href="ubiub"><center><img style="width: 100px;" src="../static/img/TESTE.jpg" alt=""></center></a> </nav>
<p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nam deserunt numquam expedita? Rem eligendi, modi quae, eveniet veritatis quis harum obcaecati, repellendus assumenda ducimus iste corrupti impedit adipisci ea?</p>
<nav > <a href="ubiub"><center><img style="width: 100px;" src="../static/img/TESTE.jpg" alt=""></center></a> </nav>
<p class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nam deserunt numquam expedita? Rem eligendi, modi quae, eveniet veritatis quis harum obcaecati, repellendus assumenda ducimus iste corrupti impedit adipisci ea?</p>
<nav > <a href="ubiub"><center><img style="width: 100px;" src="../static/img/TESTE.jpg" alt=""></center></a> </nav>
</div>

{% endblock %}
