{% extends 'base.html' %}
{% block conteudo %}
<h2 class="titulo">Sobre mim</h2>;

<img style=" width: 300px; margin-left: 510px;" src="../static/img/TESTE.jpg" alt="">
<p class="texto" style="margin-left: 10%; margin-right: 10%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam numquam consequuntur quas. Hic, debitis dolores! Necessitatibus, architecto omnis pariatur recusandae eligendi rem expedita, debitis consequuntur, vero autem nihil eum! Ipsa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur reiciendis quos dolore sint nostrum nemo accusamus soluta, a deleniti voluptate mollitia recusandae quod est hic neque amet, vel quisquam modi!</p>

{% endblock %}